{% extends "base.html" %}

{% block title %} - Projet {{ project.name }}{% endblock %}
{% block description %}Projet {{ project.name }}{% endblock %}

{% block body %}

 <h4>Projet {{ project.name }}</h4>

{% if user %}

{% if project.description %}
{% autoescape off %}{{ project.description }}{% endautoescape %}
{% endif %}

{% if admin %}
<p class="submit"><a href="/editProject?id={{ project.key.id }}">Editer</a></p>
{% endif %}

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Acteur</th>
    <th>Type</th>
    <th>Description</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
  {% for a in project.actors %}
   <tr>
    <td><a href="/actor/{{ a.key.id }}">{{ a.name }}</a></td>
    <td align="center"><i class="fa fa-{{ a.type }}"></i></td>
    <td>{{ a.description }}</td>
    <td><a href="/editActor?id={{ a.key.id }}"><i class="fa fa-edit"></i></a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

{% if admin %}
 <form action="/addActor" method="post">
  <input type="hidden" name="id" value="{{ project.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Acteur&nbsp;:&nbsp;</label></td>
    <td><input name="name" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

{% for p in project.get_packages %}
<h5>{{ p.order }}. {{ p.name }}</h5>
 <p>{{ p.description }}</p>
 {% for u in p.get_usecases %}
 <h6>{{ p.order }}.{{ u.order }} {{ u.name }}</h6>
 <p>{{ u.description }}</p>
 {% endfor %}
{% endfor %}

<table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>&nbsp;</th>
    <th>Package</th>
    <th>Description</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
  {% for p in project.get_packages %}
   <tr>
    <td align="center">{{ p.order }}</td>
    <td><a href="/package/{{ p.key.id }}">{{ p.name }}</a></td>
    <td>{{ p.description }}</td>
    <td><a href="/editPackage?id={{ p.key.id }}"><i class="fa fa-edit"></i></a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

{% if admin %}
 <form action="/addPackage" method="post">
  <input type="hidden" name="id" value="{{ project.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Package&nbsp;:&nbsp;</label></td>
    <td><input name="name" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

{% endif %}
{% endblock %}
