{% extends "base.html" %}

{% block title %} - Projet {{ project.name }}{% endblock %}
{% block description %}Projet {{ project.name }}{% endblock %}

{% block body %}

 <h4>Projet {{ project.name }}</h4>

{% if user %}

{% if project.description %}
{% autoescape off %}{{ project.description }}{% endautoescape %}
{% endif %}

{% if admin %}
<p><a href="/editProject?id={{ project.key.id }}"><i class="fa fa-edit"></i></a></p>
{% endif %}

<canvas id="diag_contexte" width="350" height="350" style="align: center; border: dashed 1px #444;"> 
  Texte alternatif pour les navigateurs ne supportant pas Canvas.
</canvas>

<script type="text/javascript">

  var c = document.getElementById("diag_contexte");
  var ctx = c.getContext("2d");
  ctx.beginPath();      // Debut du chemin
  ctx.moveTo(150,80);   // Le trace part du point 150,80
  ctx.lineTo(300,230);  // Un segment est ajoute vers 300,230
  ctx.lineTo(150,230);  // Un segment est ajoute vers 150,230
  ctx.closePath();      // Fermeture du chemin
  ctx.fillStyle = "lightblue"; // Definition de la couleur de remplissage
  ctx.fill();           // Remplissage du dernier chemin trace

  // Coque du bateau
  ctx.beginPath();      // Debut d'un autre chemin
  ctx.moveTo(50,250);
  ctx.lineTo(100,300);
  ctx.lineTo(250,300);
  ctx.lineTo(300,250);
  ctx.fillStyle = "peru";
  ctx.strokeStyle = "sienna"; // Definition de la couleur de contour
  ctx.lineWidth = 5;         // Definition de la largeur de ligne
  ctx.fill();            // Application du remplissage
  ctx.stroke();  

  // Mat
  ctx.beginPath();
  ctx.moveTo(140,50);
  ctx.lineTo(140,250);
  ctx.lineWidth = 10;
  ctx.stroke();

</script>

<h5>1. Acteurs</h5>

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Acteur</th>
    <th>Type</th>
    <th>Description</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
  {% for a in project.actors %}
   <tr>
    <td><a href="/actor/{{ a.key.id }}">{{ a.name }}</a></td>
    <td align="center"><i class="fa fa-{{ a.type }}"></i></td>
    <td>{% autoescape off %}{{ a.description }}{% endautoescape %}</td>
    <td><a href="/editActor?id={{ a.key.id }}"><i class="fa fa-edit"></i></a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

{% if admin %}
 <form action="/addActor" method="post">
  <input type="hidden" name="id" value="{{ project.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Acteur&nbsp;:&nbsp;</label></td>
    <td><input name="name" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

<h5>2. Packages</h5>

<canvas id="diag_packages" width="350" height="350" style="align: center; border: dashed 1px #444;"> 
  Texte alternatif pour les navigateurs ne supportant pas Canvas.
</canvas>

{% for p in project.get_packages %}
<h5>{{ p.order+2 }}. Package {{ p.name }}</h5>

{% autoescape off %}{{ p.description }}{% endautoescape %}

<p><a href="/editPackage?id={{ p.key.id }}"><i class="fa fa-edit"></i></a></p>

<canvas id="diag_package{{ p.order }}" width="350" height="350" style="align: center; border: dashed 1px #444;"> 
  Texte alternatif pour les navigateurs ne supportant pas Canvas.
</canvas>

<script type="text/javascript">
  var c = document.getElementById("diag_package{{ p.order }}");
  var ctx = c.getContext("2d");
  ctx.lineWidth = 5;
  ctx.beginPath();
  ctx.arc(150,150,100,0,Math.PI*2,true);
  ctx.strokeStyle = "lightblue";
  ctx.fillStyle = "bisque";
  ctx.fill();
  ctx.stroke();
</script>

 {% for u in p.get_usecases %}
 <h6>{{ p.order }}.{{ u.order }} Use Case {{ u.name }}</h6>

 {% autoescape off %}{{ u.description }}{% endautoescape %}

 <p><a href="/editUseCase?id={{ u.key.id }}"><i class="fa fa-edit"></i></a></p>
 {% endfor %}

{% endfor %}

{% if admin %}
 <form action="/addPackage" method="post">
  <input type="hidden" name="id" value="{{ project.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Package&nbsp;:&nbsp;</label></td>
    <td><input name="name" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

{% endif %}
{% endblock %}
