{% extends "base.html" %}

{% block title %} - Use case {{ usecase.name }}{% endblock %}
{% block description %}Use case {{ usecase.name }}{% endblock %}

{% block body %}

 <h4>Use Case {{ usecase.name }}</h4>

{% if user %}

<p>
 Package : <a href="/package/{{ usecase.package.key.id }}">{{ usecase.package.name }}</a>
 (projet <a href="/project/{{ usecase.package.project.key.id }}">{{ usecase.package.project.name }}</a>)
</p>

<p>Acteurs : {% for a in usecase.my_actors %}<a href="/actor/{{ a.key.id }}">{{ a.name }}</a>, {% endfor %}</p>

{% if usecase.description %}
{% autoescape off %}{{ usecase.description }}{% endautoescape %}
{% endif %}

{% if admin %}
<p><a href="/editUseCase?id={{ usecase.key.id }}"><i class="fa fa-edit"></i></a></p>
{% endif %}

{% if admin %}
<form action="/addActor2UseCase" method="post">
<input type="hidden" name="id" value="{{ usecase.key.id }}" />
<table class="form">
<tr>
<td><label>Acteur&nbsp;:&nbsp;</label></td>
<td>
 <select name="a">
  <option>Acteur</option>
 </select>
</td>
<td><input class="submit" type="submit" value="Ajouter"/></td>
</tr>
</table>
</form>
{% endif %}

{% endif %}
{% endblock %}
